In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating series[1d] using numpy array
data=np.array([1,2,3,4,5])
s=pd.Series(data)

In [3]:
print (s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#creating series using dictionary
s=pd.Series({'a':'vhr','b':'xyz','c':'lol'})
print(s)

a    vhr
b    xyz
c    lol
dtype: object

In [5]:
s=pd.Series(np.random.randn(10))
print(s)

0   -0.180027
1    0.421755
2   -0.921218
3    0.276429
4    0.713834
5    0.378191
6    1.031886
7   -0.773363
8   -0.083020
9   -0.443917
dtype: float64

In [6]:
#accessing the series
print(s[0])

print(s[:4])

print(s[-1:])

-0.18002693903371075
0   -0.180027
1    0.421755
2   -0.921218
3    0.276429
dtype: float64
9   -0.443917
dtype: float64

In [7]:
#pandas dataframe

df=pd.DataFrame([np.random.randn(5),np.random.randn(5)])


#dataframe using dictionary
dic={'length':[1,2,3,4],'breadth':[5,6,76,8]}
df=pd.DataFrame(dic)
print (df)

   breadth  length
0        5       1
1        6       2
2       76       3
3        8       4

In [8]:
print(df.values)

[[ 5  1]
 [ 6  2]
 [76  3]
 [ 8  4]]

In [9]:
df['breadth']

0     5
1     6
2    76
3     8
Name: breadth, dtype: int64

In [10]:
print (df)

   breadth  length
0        5       1
1        6       2
2       76       3
3        8       4

In [11]:
df1=pd.DataFrame({"height":[1,2,4,4]})

In [14]:
df=df["length"]+df["breadth"]

In [15]:
df1

   height
0       1
1       2
2       4
3       4

In [16]:
df

0     6
1     8
2    79
3    12
dtype: int64